/* .bg-img {
    width: 100%;
    height: 100vh;
    position: relative;
    background: linear-gradient(to bottom right, #002f4b, #dc4225),
      url("http://unsplash.it/600x600");
    background-size: cover;
    opacity: 0.6;
    display: grid;
    place-content: center;
    font-size: 50px;
    font-family: "Great Vibes";
  } */

  .body::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right, #002f4b, #dc4225);

    opacity: .6;
}
